.native-select__wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: #63666A;
  &.disabled {
    color: rgba(0, 0, 0, 0.38);
  }
}

.native-select {
  display: block;
  box-sizing: content-box;
  padding: 6px 24px 6px 8px;
  min-width: 16px;
  width: 100%;
  height: 26px;
  cursor: pointer;
  margin: 0;
  font: inherit;
  color: inherit;
  user-select: none;
  background: none;
  border: 1px solid currentColor;
  -moz-appearance: none;
  -webkit-appearance: none;

  &.small {
    padding: 1px 24px 1px 4px;
    height: 20px;
  }

  &:disabled {
    cursor: default;
  }
}

.native-select__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  color: currentColor;
  fill: currentColor;
  user-select: none;
  pointer-events: none;
}


//*********** form control label: global css **********//

.form__label {
  color: #63666A;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  &.disabled {
    color: #C8C8C8;
  }
}
