
/* container */
.radio {
  padding: 10px;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.radio--disabled {
  cursor: default;
  pointer-events: none;
}

/* background */
.radio__background {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: relative;

  /* background surrounding */
  &::before {
    content: "";
    background-color: green;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: scale(0, 0);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
  }
}

.radio__outer-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  transition: border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}

.radio__inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: scale(0, 0); // initially size -> 0
  border-width: 10px; // because background is 20px
  border-style: solid;
  border-radius: 50%;
  transition: transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}

/* native control */
.radio__native-control {
  // reset
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;

  cursor: inherit;

  opacity: 0; // invisible
  z-index: 1; // but placed on the top of container for accessibility without label

  &:disabled + .radio__background {
    cursor: default;
  }

  &:disabled:not(:checked) + .radio__background .radio__outer-circle {
    border-color: rgba(0, 0, 0, 0.26);
  }

  &:disabled:checked + .radio__background .radio__outer-circle {
    border-color: rgba(0, 0, 0, 0.26);
  }

  &:disabled + .radio__background .radio__inner-circle {
    border-color: rgba(0, 0, 0, 0.26);
  }

  &:enabled:focus + .radio__background::before,
  &:enabled:hover + .radio__background::before {
    transform: scale(1);
    transition: opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
  }

  &:enabled:hover + .radio__background::before {
    opacity: 0.04;
  }

  &:enabled:focus + .radio__background::before {
    opacity: 0.12;
  }

  &:enabled:not(:checked) + .radio__background .radio__outer-circle {
    border-color: rgba(0, 0, 0, 0.54);
  }

  &:enabled:checked + .radio__background .radio__outer-circle {
    border-color: #018786;
  }

  &:enabled + .radio__background .radio__inner-circle {
    border-color: #018786;
  }

  &:checked + .radio__background .radio__inner-circle {
    transform: scale(0.5);
    transition: transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1), border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
  }

}

//********************//

.form-control__label {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 16px;
  cursor: pointer;
  &--disabled {
    cursor: default;
  }
}
.form-control__label--disabled {
  color: rgba(0, 0, 0, 0.38);
}
/**********************/

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
.MuiTouchRipple-ripple {
  opacity: 0;
  position: absolute;
}
.MuiTouchRipple-rippleVisible {
  opacity: 0.3;
  animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
.MuiTouchRipple-ripplePulsate {
  animation-duration: 200ms;
}
.MuiTouchRipple-child {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  border-radius: 50%;
  background-color: currentColor;
}
.MuiTouchRipple-childLeaving {
  opacity: 0;
  animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.MuiTouchRipple-childPulsate {
  top: 0;
  left: 0;
  position: absolute;
  animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}
@-webkit-keyframes MuiTouchRipple-keyframes-enter {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
@-webkit-keyframes MuiTouchRipple-keyframes-exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
///////////////// backup css /////////

/* container */
.radio {
  padding: 10px;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.radio--disabled {
  cursor: default;
  pointer-events: none;
}
/* background */
.radio__background {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: relative;
  /* background surrounding */
}
.radio__background::before {
  content: "";
  background-color: green;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  position: absolute;
  transform: scale(0, 0);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}
.radio__outer-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  transition: border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}
.radio__inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: scale(0, 0);
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  transition: transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
}
/* native control */
.radio__native-control {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: inherit;
  opacity: 0;
  z-index: 1;
}
.radio__native-control:disabled + .radio__background {
  cursor: default;
}
.radio__native-control:disabled:not(:checked) + .radio__background .radio__outer-circle {
  border-color: rgba(0, 0, 0, 0.26);
}
.radio__native-control:disabled:checked + .radio__background .radio__outer-circle {
  border-color: rgba(0, 0, 0, 0.26);
}
.radio__native-control:disabled + .radio__background .radio__inner-circle {
  border-color: rgba(0, 0, 0, 0.26);
}
.radio__native-control:enabled:focus + .radio__background::before, .radio__native-control:enabled:hover + .radio__background::before {
  transform: scale(1);
  transition: opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
}
.radio__native-control:enabled:hover + .radio__background::before {
  opacity: 0.04;
}
.radio__native-control:enabled:focus + .radio__background::before {
  opacity: 0.12;
}
.radio__native-control:enabled:not(:checked) + .radio__background .radio__outer-circle {
  border-color: rgba(0, 0, 0, 0.54);
}
.radio__native-control:enabled:checked + .radio__background .radio__outer-circle {
  border-color: #018786;
}
.radio__native-control:enabled + .radio__background .radio__inner-circle {
  border-color: #018786;
}
.radio__native-control:checked + .radio__background .radio__inner-circle {
  transform: scale(0.5);
  transition: transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1), border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1);
}
.form-control__label {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 16px;
  cursor: pointer;
}
.form-control__label--disabled {
  cursor: default;
}
.form-control__label--disabled {
  color: rgba(0, 0, 0, 0.38);
}
